body{
    position : relative;
    bottom:0;
    font-family: 'Roboto', sans-serif;
}

.heading-content{
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
 }

 .author{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
 
}

 .author-name{
    font-weight: bold;
    font-size: 20px;
    width: 50%;
    font-family: 'Courier New', Courier, monospace; 
}

#editButton{
    width: 50%;
    margin-left: 500px;
    padding-left: 4px;
    width: 70px;
}

.post-content{
    word-wrap: break-word;
    margin-top: 20px;
}

#likeButton{
    margin-top: 20px;
}

