body{
    background-color: #ffeedd !important;
}

.posts-list-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%; 
}


.post-card{
    font-family: sans-serif;
    width: 40%;
    background-color: white;
    margin: 20px 40px;
    order: 2;
    color: black;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}

.post-author{
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: bolder;
    color: #696969
}

.post-author-container{
    height: 100%;
    padding: 10px;
}

.post-content-container{
    background-color: lavender;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
}

.post-content{
    text-overflow:clip;
    overflow: hidden;
    display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 3; /* number of lines to show */
}

.post-title{
    font-weight: bold;
    color: #686868;
    width: 90%;
}

.post-title-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ellipsis-icon{
    float: right;
    margin-right: 2px ;
    color: #686868;
}

.trash-icon{
    color: #686868;
}

.trash-icon:hover{
    cursor: pointer;
}

.btn-yes-no{
    display: flex;
    justify-content: space-between;
}

.btn-yes{
    background-color: green;
    color: white;
    border: none;
    width: 60px;
}

.btn-no{
    background-color: red;
    color: white;
    border: none;
    width: 60px;
}

#deletePostModal{
    display: none;
    position: absolute;
    top: 200px;
    left: 500px;
    width: 100%;
    width: 24% !important;
}